body {
  margin: 0;  
}

.header {
  background-color: #e72caf;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .title {
  font-style: italic;
  margin-bottom: 1px;
}

.main {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.main .video-container {
  width: 61%;
}

.main .video-container .video  {
  width: 100%
}

.main .video-container .control-buttons .player-button  {
  padding: 7px;
  border-radius: 20px;
  background-color: #ea62af;
  color: #fff;
  font-weight: bolder;
  outline: 0;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #000000;
  border: 0;
}

.main .video-container .control-buttons .player-button:hover {
  box-shadow: 0 4px 16px 0 #000000;
}